@model List<ResultPolicy>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    @foreach (var item in Model)
                    {
                        <a class="nav-link @(item == Model.First() ? "active" : "")" id="@item.PolicyTabHref-nav" data-toggle="pill" href="#@item.PolicyTabHref-tab" role="tab"><i class="@item.PolicyIcon"></i>@item.PolicyName</a>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    @foreach (var item in Model)
                    {
                        <div class="tab-pane fade @(item == Model.First() ? "show active" : "")" id="@item.PolicyTabHref-tab" role="tabpanel" aria-labelledby="@item.PolicyTabHref-nav">
                            <h2>@item.PolicyName</h2>
                            <p>@item.PolicyDescription</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
