@model List<ResultSlider>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0 ;
}

<div class="container-fluid pt-4 px-4">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4 text-center">Sliders Edit Page</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Slider Title</th>
                            <th>Slider Subtitle</th>
                            <th>Slider Target Url</th>
                            <th>Slider Active</th>
                            <th>Slider Image Editor</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.SliderTitle</td>
                                <td>@item.SliderSubtitle</td>
                                <td>@item.SliderTargetUrl</td>
                                <td>@item.SliderActive</td>
                                <td><a class="btn btn-light btn-sm" href="/Admin/AdminSliderImage/Index/@item.Id">Image Editor</a></td>
                                <td><a class="btn btn-info btn-sm" href="/Admin/AdminSlider/UpdateSlider/@item.Id">Update</a></td>
                                <td><a class="btn btn-danger btn-sm" href="/Admin/AdminSlider/RemoveSlider/@item.Id">Remove</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <a href="/Admin/AdminSlider/CreateSlider/" class="btn btn-success btn-sm">Create Slider</a>
                </div>
            </div>
        </div>
    </div>
</div>

