@model List<UserOrderResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="dashboard-nav" href="/Account/UserDashboard/Index" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                    <a class="nav-link active" id="orders-nav" href="/Account/UserOrder/Index" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link" id="address-nav" href="/Account/UserAddress/Index" role="tab"><i class="fa fa-map-marker-alt"></i>Address</a>
                    <a class="nav-link" id="account-nav" href="/Account/UserAccountDetail/Index" role="tab"><i class="fa fa-user"></i>Account Details</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <center>
                            <a href="/Account/UserOrder/Index" class="btn btn-success btn-sm">All</a>
                            <a href="/Account/UserOrder/Index/Placed" class="btn btn-success btn-sm">Placed</a>
                            <a href="/Account/UserOrder/Index/Preparing" class="btn btn-success btn-sm">Preparing</a>
                            <a href="/Account/UserOrder/Index/Shipped" class="btn btn-success btn-sm">Shipped</a>
                            <a href="/Account/UserOrder/Index/Completed" class="btn btn-success btn-sm">Completed</a>
                            <a href="/Account/UserOrder/Index/Cancelled" class="btn btn-success btn-sm">Cancelled</a>
                        </center>
                        <br />
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Total Price</th>
                                        <th>Cargo Tracking</th>
                                        <th>Go Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.OrderStatus</td>
                                            <td>@item.CreatedDate</td>
                                            <td>@item.TotalPrice</td>
                                            <td>@item.CargoTracking</td>
                                            <td><a href="/Account/UserOrder/OrderDetail/@item.Id" class="btn btn-success btn-sm">Go Order Detail</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>