@model ResultProduct
<div class="col-lg-8">
    <div class="row">
        <div class="col-md-12">
            <div class="product-view-top">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-short">
                            <div class="dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Newest</a>
                                    <a href="#" class="dropdown-item">Popular</a>
                                    <a href="#" class="dropdown-item">Most sale</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-price-range">
                            <div class="dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">$0 to $50</a>
                                    <a href="#" class="dropdown-item">$51 to $100</a>
                                    <a href="#" class="dropdown-item">$101 to $150</a>
                                    <a href="#" class="dropdown-item">$151 to $200</a>
                                    <a href="#" class="dropdown-item">$201 to $250</a>
                                    <a href="#" class="dropdown-item">$251 to $300</a>
                                    <a href="#" class="dropdown-item">$301 to $350</a>
                                    <a href="#" class="dropdown-item">$351 to $400</a>
                                    <a href="#" class="dropdown-item">$401 to $450</a>
                                    <a href="#" class="dropdown-item">$451 to $500</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model.Products)
        {
            <div class="col-md-4">
                <div class="product-item">
                    <div class="product-title">
                        <a href="/ProductDetail/Index/@item.Id/">@item.ProductName</a>
                    </div>
                    <div class="product-image">
                        <a href="product-detail.html">
                            <img src="@item.CoverImagePath" alt="Product Image">
                        </a>
                        <div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-price">
                        <h3><span>$</span>@item.Price</h3>
                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Pagination Start -->
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.CurrentPage == 0 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage > 0 ? Model.CurrentPage - 1 : 0 })" tabindex="-1">Previous</a>
                </li>

                @for (int i = 0; i < Model.TotalPages; i++)
                {
                    int pageNumber = i + 1;
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@pageNumber</a>
                    </li>
                }

                <li class="page-item @(Model.CurrentPage == Model.TotalPages-1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages })">Next</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Pagination End -->
</div>