@model EStore.Dto.Product.ResultProduct

<div class="col-lg-8">
    <div class="row">
        <div class="col-md-12">
            <div class="product-view-top">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-price-range">
                            <div class="dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="@Url.Action("Index", new { minPrice = 0, maxPrice = 30 })" class="dropdown-item">$0 to $30</a>
                                    <a href="@Url.Action("Index", new { minPrice = 30, maxPrice = 50 })" class="dropdown-item">$30 to $50</a>
                                    <a href="@Url.Action("Index", new { minPrice = 50, maxPrice = 70 })" class="dropdown-item">$50 to $70</a>
                                    <a href="@Url.Action("Index", new { minPrice = 70, maxPrice = 90 })" class="dropdown-item">$70 to $90</a>
                                    <a href="@Url.Action("Index", new { minPrice = 90, maxPrice = 150 })" class="dropdown-item">$90 to $150</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Products)
        {
            <div class="col-md-4">
                <div class="product-item">
                    <div class="product-title">
                        <a href="/ProductDetail/Index/@item.Id/">@item.ProductName</a>
                    </div>
                    <div class="product-image">
                        <a href="/ProductDetail/Index/@item.Id/">
                            <img src="@item.CoverImagePath" alt="Product Image">
                        </a>
                        <div class="product-action">
                            <a href="/ProductDetail/Index/@item.Id/"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-price">
                        <h3><span>$</span>@item.Price</h3>
                        <a class="btn go-detail" href="/ProductDetail/Index/@item.Id/"><i class="fa fa-search"></i> Go Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Pagination Start -->
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.CurrentPage == 0 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage > 0 ? Model.CurrentPage - 1 : 0})" tabindex="-1">Previous</a>
                </li>

                @for (int i = 0; i < Model.TotalPages; i++)
                {
                    int pageNumber = i + 1;
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@pageNumber</a>
                    </li>
                }

                <li class="page-item @(Model.CurrentPage == Model.TotalPages - 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.CurrentPage < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages })">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Pagination End -->
</div>
